.container-card{  
    margin: 1em; 
    background: linear-gradient(38deg, #2bc693 30%, #28ea63 100%);
    border-radius:10px;
    // background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);

    // &:hover{
    //     background-position: right center;
    //     border: 1px solid red;
    //     cursor: pointer;
    // }
    
}

.card{
    padding: 2em 0;
    display:grid;
    grid-template-columns: 1fr;


input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
}

ul{
    list-style: none;
}

li{
    border-bottom: 1px solid #ccc;
}
}

.img-container{
    display:none;
    height:150px;
    width:150px;

    margin: 1em;
}
.picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.image-show{
    display:block;
}