h1{
    text-align: center;
    font-size:3em
}
h4{
    text-align: center;
    font-size:2em
}

.main{
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}



.container-form {
    margin: 1em;
    background-color: #20bf55;
    background-image:linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    border: 1px solid black;
    border-radius:10px;
}

.form{
    // display:flex;
    // flex-direction:column;

    display:grid;
    place-content: center;
    grid-template-columns: 1fr;
    padding: 1em 2em;

    input{
        border-radius: 3px;
    }


}