@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');

*{
  
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight:800;

}